src/main/mule/teste.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="HTTP_Listener_config" 
                          doc:name="HTTP Listener config" 
                          doc:id="0c92abf5-60c6-4ff4-abd6-e9908990e1da" 
                          basePath="teste">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>

    <configuration-properties doc:name="Configuration properties" doc:id="59091e51-d987-4745-88f0-4bc3d2a73fa7" file="dev.yaml" />
	<flow name="testeFlow" doc:id="6d89169d-391c-491c-b69e-c723fd853bc2">
        <http:listener doc:name="Listener" 
                       doc:id="32569823-34fe-4936-9dca-6aa8bdc42f48" 
                       config-ref="HTTP_Listener_config" 
                       path="/v1"/>
        <logger level="INFO" 
                doc:name="Logger" 
                doc:id="02cb6e8f-d9e8-40b5-beda-1e8b747d03a7" 
                message="#[payload]"/>
        <ee:transform doc:name="Transform Message" 
                      doc:id="a80d6ba0-6ad0-47a9-87bf-4624b7e57738">
            <ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  order: {
    count: sizeOf(payload.data.order.lineItems filter ((item) -> item.custom.customFieldsRaw[0].name == "isMainLineItem" and item.custom.customFieldsRaw[0].value == true)),
    lineItems: payload.data.order.lineItems filter ((item) -> item.custom.customFieldsRaw[0].name == "isMainLineItem" and item.custom.customFieldsRaw[0].value == true) map ((rootItem) -> {
      id: rootItem.id,
      childs: payload.data.order.lineItems filter ((childItem) -> childItem.custom.customFieldsRaw[1].name == "configuratorId" and childItem.custom.customFieldsRaw[1].value == rootItem.custom.customFieldsRaw[1].value) map ((child) -> {
        id: child.id
      })
    })
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fb64af05-1499-4515-9232-01ec1bfac646" message="#[payload]"/>
    </flow>
</mule>